# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Model files
*.pt
*.onnx

# Output
outputs/